[Unit]
Description=My User Script Service

[Service]
type=oneshot
ExecStart=/usr/bin/gnome-terminal --display=:0 -- sudo /opt/GamingOS/perms.sh && sudo /usr/bin/gnome-terminal --display=:0 -- /opt/GamingOS/setup.sh
ExecCondition=sh -c "! /usr/bin/test -f /opt/GamingOS/.configuration_done"
Environment=DISPLAY=:0

[Install]
WantedBy=multi-user.target

